<table class="table_component">

	<thead>
		<th *ngFor="let header of tableHeadings">{{ header }}</th>
	</thead>
	<tbody *ngIf='type==="staff"'>
		<tr *ngFor="let row of tableData">
			<td>{{row.id}}</td>
			<td>{{row.name}}</td>
			<td>{{row.dep}}</td>
			<td>{{row.age}}</td>
			<td>{{row.cno}}</td>
			<td>{{row.email}}</td>
		</tr>
	</tbody>
	<tbody *ngIf='type==="products"'>
		<tr *ngFor="let row of tableData">
			<td>{{row.id}}</td>
			<td>{{row.name}}</td>
			<td>{{(row.price).toFixed(2)}}</td>
			<td>{{row.qty}}</td>
		</tr>
	</tbody>
</table>