<div class="product-form-row">
    <form class="product-form">
        <input type="text" placeholder="Name" class="product-input" #name>
        <input type="number" placeholder="Price" class="product-input" #price>
        <input type="number" placeholder="Quantity" class="product-input" #qty>
        <div class="add-products-button" (click)="regProduct(name,price,qty,$event)">Add</div>
    </form>

</div>
<div class="product-form-row" style="display: flex;align-items: center;justify-content: center;">
    <input type="text" placeholder="Search...." class="product-input" style="width: 89%;"  #search>
</div>
<app-table [customFunction]="delProduct" [tableHeadings]="tableHeadings" [type]="staff" [tableData]="prod"
    style="width: 100%;height: 70%;"></app-table>