div {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.sidebar {
	width: 18%;
	height: 100%;
	background-color: blueviolet;
	display: flex;
	flex-direction: column;
	position: fixed;
}

.menu-item-container {
	width: 100%;
}

.menu-item {
	font-family: poppins-light;
	width: 100%;
	height: 5%;
	display: flex;
	align-items: center;
	padding: 20px;
	color: white;
	margin-bottom: 5%;
	margin-top: 10px;
}

.menu-item:hover {
	cursor: pointer;
	background-color: white;
	color: blueviolet;
	transition: 0.2s ease-in;
}