<div class="header"></div>
<div style="height: 2%;"></div>
<div class="stepper">
    <div class="step-container">
        <div class="circle">1</div>
        <div class="line"></div>
        <div class="circle">2</div>
        <div class="line"></div>
        <div class="circle">3</div>
    </div>
    
</div>
<div style="height: 2%;"></div>
<div class="form-content">
    <div class="left">
        <div class="form-title">Request Details</div>
        <div class="form-body">
            <div class="form-row">
                <div class="input-row">
                    <label>Resignation period</label>
                    <input type="text" class="form-input">
                </div>
                <div class="input-row">
                    <label>Resignation letter date</label>
                    <input type="date" class="form-input">
                </div>
            </div>
            <div class="form-row">
                <div class="input-row">
                    <label>Last working date</label>
                    <input type="date" class="form-input">
                </div>
                <div class="input-row">
                    <label>Reason for leaving</label>
                    <select name="reason" class="select-reason">
                        <option value="I got and offer">I got and offer</option>
                        <option value="Too much work">Too much work</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="input-row">
                    <label>Resignation letter .pdf .doc</label>
                    <input type="file" class="form-input">
                </div>
                <div class="input-row">
                    <label>Contact number</label>
                    <input type="text" class="form-input">
                </div>
            </div>
            
        </div>
        <div class="form-row" >
            <div class="declaration">
                I am writing to formally resign from my position at [Company Name], effective [last working day, typically two weeks from the current date]. I have thoroughly enjoyed my time working with the company and appreciate the opportunities for professional growth and development.
            </div>
        </div>
    </div>

    <div class="right"></div>
</div>