<div class="product-form-row">
    <form class="product-form">
        <input type="text" placeholder="Name" class="product-input" #name>
        <!-- <input type="text" placeholder="Department" class="product-input" #price> -->
        <select name="Department" class="select-department" #dept>
            <option value="Admin">Admin</option>
            <option value="Admin">HR</option>
            <option value="Admin">IT</option>
            <option value="Admin">Finance</option>
        </select>
        <input type="number" placeholder="Age" class="product-input" #age>
        <input type="tel" placeholder="Contact no" class="product-input" #cno>
        <input type="email" placeholder="Email" class="product-input" #email>
        <div class="add-products-button" (click)="addStaff(name,dept,age,cno,email,$event)">Add</div>
    </form>

</div>
<app-table [tableHeadings]="tableHeadings" [tableData]="details" [type]="staff"></app-table>